#### Scraping Data From a Real Website + Pandas

In [7]:
from bs4 import BeautifulSoup
import requests

In [17]:
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')
#print(soup)

In [59]:
table = soup.find_all('table')[1]

In [85]:
#soup.find('table', class_ = 'wikitable sortable')

In [63]:
#table = soup.find_all('th')
world_titles = table.find_all('th')

In [65]:
world_table_titles = [title.text.strip() for title in world_titles]
print(world_table_titles)

['Rank', 'Name', 'Industry', 'Revenue (USD billions)', 'Employees', 'Headquarters']

In [67]:
import pandas as pd

In [69]:
df = pd.DataFrame (columns = world_table_titles)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD billions), Employees, Headquarters]
Index: []

In [71]:
column_data = table.find_all('tr')

In [77]:
for row in column_data:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    print(individual_row_data)

[]
['1', 'Cargill', 'Food industry', '177', '160,000', 'Minnetonka, Minnesota']
['2', 'Koch Industries', 'Conglomerate', '125', '120,000', 'Wichita, Kansas']
['3', 'Publix Super Markets', 'Retail', '54.5', '250,000', 'Winter Haven, Florida']
['4', 'Mars, Incorporated', 'Food industry', '47', '140,000', 'McLean, Virginia']
['5', 'H-E-B', 'Retail', '43.6', '145,000', 'San Antonio, Texas']
['6', 'Reyes Holdings', 'Wholesaling', '40', '36,000', 'Rosemont, Illinois']
['7', 'Enterprise Holdings', 'Car rental', '35', '90,000', 'Clayton, Missouri']
['8', 'C&S Wholesale Grocers', 'Wholesaling', '34.7', '15,000', 'Keene, New Hampshire']
['9', "Love's", 'Petroleum industry and Retail', '26.5', '40,000', 'Oklahoma City, Oklahoma']
['10', "Southern Glazer's Wine and Spirits", 'Food industry', '26.0', '24,000', 'Miramar, Florida']

In [79]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]

    length = len(df)
    df.loc[length] = individual_row_data

In [81]:
df

,Rank,Name,Industry,Revenue (USD billions),Employees,Headquarters
0,1,Cargill,Food industry,177,"160,000","Minnetonka, Minnesota"
1,2,Koch Industries,Conglomerate,125,"120,000","Wichita, Kansas"
2,3,Publix Super Markets,Retail,54.5,"250,000","Winter Haven, Florida"
3,4,"Mars, Incorporated",Food industry,47,"140,000","McLean, Virginia"
4,5,H-E-B,Retail,43.6,"145,000","San Antonio, Texas"
5,6,Reyes Holdings,Wholesaling,40,"36,000","Rosemont, Illinois"
6,7,Enterprise Holdings,Car rental,35,"90,000","Clayton, Missouri"
7,8,C&S Wholesale Grocers,Wholesaling,34.7,"15,000","Keene, New Hampshire"
8,9,Love's,Petroleum industry and Retail,26.5,"40,000","Oklahoma City, Oklahoma"
9,10,Southern Glazer's Wine and Spirits,Food industry,26.0,"24,000","Miramar, Florida"

In [83]:
df.to_csv(r'C:\Users\ASUS\Desktop\Companies.csv', index = False)